<head>
    <style>
table, th, td { 
  border: 1px solid black;
  
}



body {
  text-align: center;
}

table.center {
    margin-left: auto;
     margin-right: auto;
    }

    </style>
</head>



<body>

    <h1> Cat Info </h1>
    <h2> Name: <%= @cat.name %> </h2>
    <p> Bio: <%= @cat.description %> </p>
    <img src= "<%= @cat.image_url %>"
     width="300" 
     height= auto />
    <br>


    <table class = center>
        <thead >
            <tr>
                <th>Attribute</th>
                <th>Info</th>
            </tr>

        </thead>
        <tbody>

            <tr>
            <td> Age </td>
            <td> <%= @cat.age %> </td>
            </tr>
            <tr>
            <td> Birthday </td>
            <td> <%= @cat.birth_date.strftime("%m/%d/%Y") %> </td>
            </tr>
            <tr>
            <td> Gender </td>
            <td> <%= @cat.sex %> </td>
            </tr>
            <tr>
            <td> Color</td>
            <td> <%= @cat.color %> </td>
            </tr>
            
        </tbody>

        
    </table>
</body>
